@model IEnumerable<PortalDenuncia.Models.TBUSUARIO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numdocu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidopa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBTIPODOCUMan.tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numdocu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidopa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBTIPODOCUMan.tipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idusuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.idusuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idusuario })
        </td>
    </tr>
}

</table>
